/* css styles */

/* Navbar styles */
.navbar {
    background-color: #333;
    /* Navbar background color */
    color: #fff;
    /* Navbar text color */
}

.navbar a {
    color: #fff;
    /* Navbar link color */
}

.navbar a:hover {
    color: #ddd;
    /* Navbar link color on hover */
}