/* css styles */

/* Navbar styles */
.navbar {
    background-color: #333;
    /* Navbar background color */
    color: #fff;
    /* Navbar text color */
}

.navbar a {
    color: #fff;
    /* Navbar link color */
}

.navbar a:hover {
    color: #ddd;
    /* Navbar link color on hover */
}

.navbar .dropdown-menu>li>a {
    background-color: #333;
    /* Change this to your desired text color */
}

.navbar .dropdown-menu>li>a:hover,
.navbar .dropdown-menu>li>a:focus {
    background-color: #333;
    /* Change this to your desired highlight color */
    color: #cccccc;
    /* Change this to your desired text color */
}